{% extends 'base.html' %}

{% block title %}Monitoring{% endblock %}

{% block content %}
    <div class="carousel-container">
        <div class="carousel">
            {% for i in range(1, 51) %}
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='images/carousel/' + i|string + '.jpg') }}" alt="Image {{ i }}">
                </div>
            {% endfor %}
        </div>
        <button class="prev">Prev</button>
        <button class="next">Next</button>
    </div>
    <button id="report-button">Reportar Incendio</button>
{% endblock %}
